.header {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
    margin: 0 100px 0 100px;
}
.image {
    display: flex;
    margin-top: 26px;
}
.header-buttons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-top: 48px;
}

.image {
    display: flex;
    width: 67px;
    height: 96px;
}
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }
    .header-buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        margin: 0 10px;
        display: flex;
        flex-direction: row;
    }
    .image {
        width: 50px;
        height: 72px;
    }
    .header-buttons {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
