.card2 {
    margin: 0 0px 0 0px;
}

.card_2 {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    min-width: 1334px;
    min-height: 337px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
    .card2 {
        margin: 0;
    }
    
}